version: '3'

services:
        webserver_one:
          container_name: webserver1
          hostname: webserver1
          build: ./WebServer

        webserver_two:
          container_name: webserver2
          hostname: webserver2
          build: ./WebServer
             
        loadbalancer:
          container_name: balancer
          hostname: balancer
          build: ./LoadBalancer
          ports:
            - "80:80"

        authenticationserver:
          container_name: authserver
          hostname: authserver
          build: ./AuthenticationServer
          ports:
            - "12345:12345"

        database:
          container_name: mysql-db
          hostname: mysql-db
          image: mysql
          environment:
            MYSQL_ROOT_PASSWORD: "supersecurepass"
          volumes:
            - ./DataBase/skitter.sql/docker-entrypoint-initdb.d/skitter.sql
            - ./DataBase/data:/var/lib/mysql

