#follow_button{
	font-family: "Avenir Next" !important;
	width: 150px;
	height:35px;
	border-radius: 50px;
	border-style: solid;
	border-width: thin;
	border-color: #FFFFFF;
	background-color: #4EADC7;
	color:#FFFFFF;
	text-align: center;

}


#post_button{
	font-family: "Avenir Next" !important;
	width: 200px;
	height:35px;
	border-radius: 50px;
	border-style: solid;
	border-width: thin;
	border-color: #4EADC7;
	background-color: #4EADC7;
	color:#FFFFFF;

}

.header{
	height:70px;
	background-color: #4EADC7;
	color:#FFFFFF;
	padding-top: 20px;

}


.search_box{
	font-family: "Avenir Next" !important;
	width: 300px;
	height:35px;
	border-radius: 3px;
	border-style: solid;
	border-width: thin;
	border-color: #FFFFFF;
	background-color: #4EADC7;
	color:#FFFFFF;
	padding-left: 10px;
}

.skit_box{
	font-family: "Avenir Next" !important;
	width: 500px;
	height: 80px;
	border-radius: 3px;
	border-style: solid;
	border-width: thin;
	border-color: #4EADC7;
	background-color: #FFFFFF;
	color:#4EADC7;
	padding-left: 10px;


}

.p_skit{
	font-size: 24px;
}

.naked_button{
	font-family: "Avenir Next" !important;
	color:#4EADC7;
	border: none;
	background: none;

}

.invisble{
	display: none;
}

img {
	width: 150px;
	height: 150px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #4EADC7;
}
body{
	font-family: "Avenir Next" !important;
}